.container{
    margin-top: 5%;
}
.header {
    width: 90%;
    margin: auto;
    font-size: 14pt;
    text-align: center;
    padding: 2%;
    border-bottom: 1px solid #ddd;
}

.final {
    margin-top: 2%;
    background-color: aliceblue;
    padding: 1%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card{
    background-color: #f3f3f2;
}